
    <title>Detalles del Pedido</title>

<body>
    <h1>Detalles del Pedido</h1>
    <p><strong>Estado del pedido:</strong> <%= pedido.estado %></p>
    <p><strong>Fecha estimada de entrega:</strong> <%= pedido.fechaEntrega.toDateString() %></p>
    <p><strong>Cliente:</strong> <%= pedido.usuario.nombre %> <%= pedido.usuario.apellido %></p>

    <h2>Productos</h2>
    <ul>
        <% pedido.productos.forEach(function(item) { %>
            <li>
                <strong>Producto:</strong> <%= item.producto.nombre %><br>
                <strong>Cantidad:</strong> <%= item.cantidad %><br>
                <strong>Precio unitario:</strong> $<%= item.producto.precio.toFixed(2) %><br>
                <strong>Subtotal:</strong> $<%= (item.cantidad * item.producto.precio).toFixed(2) %><br>
            </li>
        <% }) %>
    </ul>

    <p><strong>Total del pedido:</strong> $<%= pedido.productos.reduce((total, item) => total + (item.cantidad * item.producto.precio), 0).toFixed(2) %></p>
</body>
</html>
