<title>Mis Pedidos</title>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Mis Pedidos</h1>

    <% if (pedidos.length > 0) { %>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>ID del Pedido</th>
          <th>Fecha de Creación</th>
          <th>Estado</th>
          <th>Fecha de Entrega</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% pedidos.forEach(function(pedido) { %>
        <tr>
          <td><%= pedido._id %></td>
          <td><%= new Date(pedido.fechaPedido).toLocaleDateString() %></td>
          <td><%= pedido.estado %></td>
          <td><%= new Date(pedido.fechaEntrega).toLocaleDateString() %></td>
          <td>
            <a
              href="/pedido/detalles/<%= pedido._id %>"
              class="btn btn-primary btn-sm"
              >Ver detalles</a
            >
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <div class="alert alert-info" role="alert">No tienes pedidos.</div>
    <% } %>
  </div>
</body>
