
    <title>Detalle de Producto</title>

<body>
    <div class="product-detail">
        <h1><%= producto.nombre %></h1>
        <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
        <p><%= producto.descripcion %></p>
        <p>Precio: $<%= producto.precio %></p>

        <form action="/carro/agregar" method="POST">
           
            <input type="hidden" name="productoId" value="<%= producto._id %>">

            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" value="1" min="1">

           
            <button type="submit">Añadir al carrito</button>
        </form>
    </div>
</body>
</html>
