<div>
    <h1><%= title %></h1>

    <% if (categorias.length === 0) { %>
      <p>No hay categorías disponibles.</p>
    <% } else { %>
      <% categorias.forEach(categoria => { %>
        <h2><%= categoria.nombre %></h2> <!-- Título de la categoría -->
    
        <ul>
          <% const productosPorCategoria = productos.filter(producto => producto.categoria.toString() === categoria._id.toString()); %>
          <% if (productosPorCategoria.length === 0) { %>
            <li>No hay productos en esta categoría.</li>
          <% } else { %>
            <% productosPorCategoria.forEach(producto => { %>
              <li>
                <strong><%= producto.nombre %></strong> - $<%= producto.precio %>
                <% if (producto.descripcion) { %>
                  <p><em><%= producto.descripcion %></em></p>
                <% } %>
              </li>
            <% }); %>
          <% } %>
        </ul>
      <% }); %>
    <% } %>
  <a href="/producto/crear">Agregar Nuevo Producto</a>
</div>
